 *{
    margin:0;
    padding:0;
 }
 .header{
    height:100vh;
 }
 .navbar-style{
    box-shadow:0 5px 10px darkblue;
    text-transform:uppercase;
 }
 .logo{
    height:48px;
    padding:2px 10px;
 }
 .icon-bar{
    background:darkorange;
 }
 li a {
    color:orange;
 }
 .big-text{
    font-size:52px;
    margin:20px 0;
    color:darkorange;
 }
 a.btn{
    margin:30px 10px;
    width:150px;
    padding:10px;
    border-radius:20px;
 }
 a.btn-first{
   background-color: darkorange;
     color:white;
 }
 a.btn-second{
    background-color: transparent;
    boder :1px solid darkorange;
    color:black;
 }
 a.btn:hover{
    background:darkorange;
    border:none;
    color:white;
    box-shadow:5px 5px 10px #999;
    transition:0.3s;
 }
 .banner-info , .banner-img{
       margin:30px;
 }